<app-heading headerText="Users"></app-heading>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Robin Ahmed</td>
        <td>robin-gmail.com</td>
        <td>123456789</td>
        <td>Dhaka</td>
        <td>
          <button class="btn btn-outline-primary">Edit</button>
          <button class="btn btn-danger ms-3">Delete</button>
        </td>
      </tr>
      <tr>
        <td>Robin Ahmed</td>
        <td>robin-gmail.com</td>
        <td>123456789</td>
        <td>Dhaka</td>
        <td>
          <button class="btn btn-outline-primary">Edit</button>
          <button class="btn btn-danger ms-3">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
