<app-heading headerText="Products"></app-heading>

<div class="container">
  <div>
    <button class="btn btn-outline-success" (click)="openModal(0)">
      Add Product
    </button>
  </div>
  <!-- <div class="products">
    @if (categories.length) { @for (category of categories; track category.id) {
    <app-category-item
      [category]="category"
      (editCategoryEmit)="openModal(category.id)"
    ></app-category-item>
    } @empty {
    <p>There are no Categories.</p>
    } } @else {
    <p>Loading....</p>
    }
  </div> -->
</div>
