<app-heading headerText="Products"></app-heading>

<div class="container">
  <div>
    <button class="btn btn-outline-success" (click)="openModal(0)">
      Add Product
    </button>
  </div>
  <div class="products">
    @if (products.length) { @for (product of products; track product.id) {
    <app-product-item
      [product]="product"
      (editSuccess)="refreshProducts()"
    ></app-product-item>
    } @empty {
    <p>There are no Products.</p>
    } } @else {
    <p>Loading....</p>
    }
  </div>
</div>
