<header class="bg-primary d-flex align-items-center px-3">
    <nav class="d-flex justify-content-between w-100">
        <div class="brand d-flex gap-3 align-items-center">
            <button class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </button>
            <p class="text-white fw-bold brand">Grocery Store Admin</p>
        </div>
        <button class="btn btn-primary">Login</button>
    </nav>
</header>